<section>
  <h1>Your Cart</h1>
  <ul>
    <% @cart.line_items.each do |line_item| %>  
      <li> <%= line_item.product.product_name %>, <%=number_to_currency(line_item.product.price, unit: :£) %>, Quantity: <%= line_item.quantity %>
       <%= button_to 'Remove from Cart', line_item_path(line_item.id), :method => :delete, :class=>:destroy %>
      </li>
    <% end %>
  </ul>
<section>