<section>
  <h1>Products to Order</h1>
  <ul>
    <% @products.each do |product| %>
      <li> <%=product.product_name%>, <%=number_to_currency(product.price, unit: :£) %> </h2>
    <% end %>
  </ul>
<section>
